DB_PASSWORD=
DB_NAME=GestionDB

AUTH_DB_CONNECTION=Server=sqlserver,1433;Database=GestionDB;User Id=sa;Password=;TrustServerCertificate=True;

JWT_SECRET=
JWT_ISSUER=gestion-auth-service
JWT_AUDIENCE=gestion-app
JWT_EXPIRATION_MINUTES=60

ASPNETCORE_ENVIRONMENT=Development
APP_ENV=development

API_AUTH_URL=http://localhost:5001
API_CLIENTES_URL=http://localhost:8080
