APP_ENV=development

DB_HOST=localhost
DB_PORT=1433
DB_DATABASE=GestionDB
DB_USERNAME=sa
DB_PASSWORD=Gestion@2024!

JWT_SECRET=super_secret_key_change_in_production_min_32_chars
JWT_ISSUER=gestion-auth-service
